

{% extends "base.html.twig" %}

{% block content %}
<div class="container-fluid">
    <div class="card">
        
            {% for product in products %}
            <div class="card-body">
             {{product}}
            </div>
            {% endfor %}
        
      </div>
</div>

{% endblock %}
